@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Patrick+Hand&family=Shrikhand&display=swap');

:root {
    /* TEXT COLOR */

    --principal-color: #DAB7A4;
    --links-nav-color: #DAB7A4;
    --white-color: #fff;
    --form-color: rgb(7, 175, 241);

    /* BACKGROUND */

    --light-mode: #fff;

    /* SIZE */

    --principal-size: 1em;
    --links-nav-size: 1.15em;
    --title-size: 2em;

    /* FONT-FAMILY */

    --first-police: "Great Vibes";
    --second-police: "Patrick Hand";
    --third-police: "Shrikhand";
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Patrick Hand";
}

main {
    padding-top: 30px;
    margin-left: 300px;
}

nav {
    background-color: var(--light-mode);
    position: fixed;
    left: 0%;
    border-right: 2px solid var(--principal-color);
    height: 100%;
    min-width: 300px;
}

.title_link {
    text-decoration: none;
}

.title_box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    font-size: var(--title-size);
    color: var(--principal-color);
}

.title_box h1:nth-child(2) {
    font-family: var(--third-police);
}

.title_box h1:nth-child(3) {
    font-family: var(--first-police);
}

.title_box img {
    margin-right: 10px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.links_box {
    margin-top: 50px;
}

.links_nav {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 4px 0px;
    background-color: var(--light-mode);
    cursor: pointer;
}

.links_nav a {
    width: 100%;
}

.links_nav:hover {
    background-color: rgba(218, 183, 164, 0.1);
}

.links_nav img {
    margin: 0px 10px 0px 7px;
    width: auto;
    height: 35px;
}

.link_home {
    border-bottom: 1px solid var(--principal-color);
}

.links_nav.active {
    background-color: var(--principal-color);
}

.links_nav.active a {
    color: var(--white-color);
}

.links_nav.active img {
    filter: invert(100%);
}

.icone_filter {
     filter: invert(100%) brightness(55%) sepia(100%);
}

.link_navigation {
    font-family: var(--second-police);
    font-size: var(--links-nav-size);
    color: var(--principal-color);
    text-decoration: none;
}

.settings_box {
    position: absolute;
    bottom: 0%;
    width: 100%;
}

.legal_info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}

.legal_info a {
    color: grey;
    font-family: sans-serif;
    font-size: 0.8em;
}

.clipped-section {
    background-color: var(--principal-color);
    color: var(--white-color);
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0 100%);
    padding: 50px 0px;
}

.clipped-section h1 {
    text-align: center;
    font-size: 4em;
}

.clipped-section h2 {
    text-align: center;
    font-size: 2em;
}

.Gen {
    font-family: var(--third-police);
}

.X {
    font-family: var(--first-police);
}

footer {
    background-color: var(--principal-color);
    font-family: sans-serif;
    font-size: 0.9em;
    margin-left: 300px;
    text-align: center;
    padding: 2px 0px;
}

footer a {
    color: var(--white-color);
}

footer .text_conception {
    color: grey;
    font-size: 0.75em;
}

/* RESPONSIVE */

@media screen and (min-width: 800px) {
    .navbar-mobile {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    nav {
        display: none;
        }
    * {
        margin-left: 0!important;
    }
    main {
        padding-top: 50px;
    }

/* NAVBAR RESPONSIVE */

.navbar-mobile {
    width: 100%;
    position: fixed;
    top: 0%;
    background-color: var(--principal-color);
    box-shadow: 2px 2px 2px 2px rgba(0.1, 0.1, 0.1, 0.1);
    z-index: 2;
}

summary {
    font-size: 1.2em;
    list-style: none;
    display: flex;
    align-items: center;
    color: var(--white-color);
}

.summary-mobile {
    padding: 5px 0px 5px 7.5px;
}

.sous-summary-mobile {
    padding: 5px 0px 5px 30px;
}

summary .Gen,
summary .X {
    font-size: 1.3em;
}

.navbar-mobile summary .X::after {
    content: "≡";
    position: absolute;
    right: 3.5%;
    font-size: 3em;
    top: -25%!important;
    display: inline-block;
    transition: transform 0.4s ease-out;
}

@media screen and (max-width: 800px) {
    .navbar-mobile summary .X::after {
        position: absolute;
        top: -40%!important;
    }
    .navbar-mobile[open] summary .X::after {
        position: absolute;
        top: -4.5%!important;
    }
}

.navbar-mobile[open] summary .X::after {
    transform: rotate(360deg);
    content: "✕";
    top: -2%;
    font-size: 2em;
    right: 3.5%;
}

summary .icone_logo {
    height: 35px;
    width: auto;
    border: none;
    border-radius: 50px;
    margin-right: 7.5px;
    outline: 2px solid #fff;
}

summary .icone_nav {
    height: 25px;
    width: auto;
    margin-right: 7.5px;
    filter: invert(100%);
}

summary .icone_flag {
    height: 25px;
    width: auto;
    margin-right: 7.5px;
}

summary a {
    color: var(--white-color);
    text-decoration: none;
    width: 100%;
}

summary:hover {
    background-color: #da8d64ab;
}

.sous-navbar-mobile .first-summary-dropdown::after {
    content: "▼";
    position: absolute;
    right: 3.5%;
    display: inline-block;
    transition: transform 0.25s ease-in-out;
}

.sous-navbar-mobile[open] .first-summary-dropdown::after {
    transform: rotate(360deg);
    content: "▲"
}